<?xml version="1.0" encoding="utf-8"?>
<robot name="stick_">
  <link name="stick">
  </link>

  <joint name="interaction_joint" type="revolute">
    <parent link="stick"/>
    <child link="interaction"/>
    <axis xyz="0 0 1"/>
    <limit effort="0" velocity="0" lower="0" upper="0"/>
    <origin rpy="0 0 0" xyz="0.1 -0.8 0"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint>
  
  <link name="interaction">
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </link>
</robot>